<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Home</a>



<div class="text-bg-light p-45"></div>
<div class="invisible-column" contenteditable="true">
    <h4>
        Flite Test был создан для людей, увлеченных полетами. Мы надеемся побудить людей создавать и летать, увлекаться
        инновациями и, самое главное, получать от этого удовольствие. Это мечтатели и инженеры, которые получают острые
        ощущения от первого запуска первого полета. FliteTest олицетворяет как ветерана, так и новичка, давая им
        возможность поделиться общим опытом с другими, что, в свою очередь, укрепляет сообщество. Цель - создать
        творческую среду, которая позволит нам ежедневно отдаваться нашему увлечению. Flite Test разработан для
        расширения возможностей нашей аудитории. В нем достаточно юмора, технологий и информации, чтобы понравиться всем
        любителям радиоуправляемых самолетов. Мы надеемся развлекать, просвещать и возвышать наших зрителей по мере
        продвижения вперед с качественным контентом.
</div>






<style>
    body {
        background-color: #D0F0C0 ;
    }
</style>
<!--#1F5863-->
<!--#2FA8FA-->
<!--#ACBCE0-->
<!--#88AAE0-->
<!--#92B4E0-->
<!--#91B0A1-->
<!--#7AC4A0-->
<!--#395C4B-->
<!--#527F8F-->
<!--#396156-->
<!--#00023D-->
<!--#00011F     #2F4538           #D0F0C0-->


</body>
</html>