{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <title>Document</title>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="https://www.elefun.no/bilder/prod_logo/423.png" height="50px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'kopter' %}">kopter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'nob' %}">beginners</a>


                <li class="nav-item">
                    <a class="nav-link" href="{% url 'kon' %}">confidentiality</a>
                </li>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'register' %}">register</a></li>
                    <li><a class="dropdown-item" href="#">Другое действие</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
                </ul>


            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>


</head>


<body>


<style>
    body {
        background-color: #2F4F4F ;
    }
</style>
<!--#1F5863-->
<!--#2FA8FA-->
<!--#ACBCE0-->
<!--#88AAE0-->
<!--#92B4E0-->
<!--#91B0A1-->
<!--#7AC4A0-->
<!--#395C4B-->
<!--#527F8F-->
<!--#396156-->
<!--#00023D-->
<!--#00011F-->
<!--#0E297D-->
<!--#87CEFA-->
<!--#060647-->
<!--#2F4F4F-->
<!--#728639-->


<p>{{object.name}}</p>
<p>{{object.description}}</p>
<img src="{{object.photo.url}}" style="width: 100%;
      height: 120vh;">



    <style>
        #priceButton {
          position: absolute;
          top: 1110px;
          left: 10px;
        }

        #balanceDisplay {
          position: absolute;
          top: 10px;
          left: 1120px;
        }
    </style>
    <script>
        let balance = 10000;

        function updateBalance(price) {
          if (balance >= price) {
            balance -= price;
            document.getElementById('balanceDisplay').innerText = `Баланс: $${balance}`;
          } else {
            alert('Недостаточно средств!');
          }
        }
    </script>


    <button id="priceButton" onclick="updateBalance(500)">Ценник $1890</button>

    <p><h4>Комплектующие</h4></p>
   <font size="8">
                    Электроника
                </font>
                <font size="24">

                </font>
            </h3>
            </p>
            <p>
            <h1>Передатчик</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Передатчик - это ваша прямая связь с радиоуправляемым самолетом, контролирующим каждое его движение
                    с
                    земли. Для начинающих отличным началом станет простой 4-канальный передатчик, позволяющий управлять
                    дроссельной заслонкой, рулем направления, рулем высоты и элеронами. Важно выбрать передатчик,
                    который
                    удобно лежит в ваших руках, с отзывчивыми джойстиками, переключателями и циферблатами, и убедиться,
                    что
                    он совместим с приемником вашего самолета. Выбор простого и совместимого передатчика обеспечит вам
                    плавный и приятный полет.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Приемник</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Приемник принимает сигналы от вашего передатчика и преобразует их в действия. Важно убедиться, что
                    ваш
                    приемник совместим с вашим передатчиком - это означает, что количество каналов на обоих компонентах
                    соответствует друг другу. Учитывайте также дальность действия приемника; для начинающих достаточно
                    стандартного диапазона, но по мере продвижения вы можете изучить расширенные диапазоны.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Сервопривод</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Сервоприводы действуют как мышцы вашего радиоуправляемого самолета, преобразуя команды в движения.
                    При
                    выборе правильного сервопривода необходимо учитывать его размер, вес, крутящий момент и скорость.
                    Стандартные сервоприводы, как правило, хорошо подходят для начинающих пилотов, обеспечивая плавную
                    работу без утяжеления вашего радиоуправляемого самолета. По мере накопления опыта вы можете
                    рассмотреть
                    более быстрые сервоприводы для увеличения скорости.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Аккумулятор + зарядное устройство</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Правильный выбор аккумулятора и зарядного устройства гарантирует, что ваш самолет хорошо заправлен и
                    готов к
                    взлету. Аккумуляторы LiPo (литий-полимерные) обеспечивают оптимальное сочетание веса, мощности и
                    продолжительности полета. Емкость аккумулятора измеряется в миллиампер-часах (мАч) и напряжении,
                    указывается
                    количеством ячеек и определяет, как долго и с какой мощностью работает ваш самолет. Убедитесь, что
                    выбранное
                    вами зарядное устройство имеет такие функции, как защита от перезаряда.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Мотор</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Подобно двигателю автомобиля, двигатель вашего радиоуправляемого самолета движет его вперед.
                    Бесщеточные
                    двигатели работают без трения и износа, как традиционные щеточные двигатели, что делает их более
                    эффективными, долговечными и мощными. Двигатели бывают двух типов: опережающие для стабильных
                    полетов и
                    ускоряющие для скорости. Важно учитывать технические характеристики вашего двигателя - номинальное
                    напряжение (указывает обороты на вольт) и мощность.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Электронный регулятор скорости (ESC)</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    ESC в вашем радиоуправляемом самолете действует подобно дроссельной заслонке и тормозам в
                    автомобиле,
                    регулируя подачу энергии от аккумулятора к двигателю. Вы хотите убедиться, что выбранный вами ESC
                    совместим с вашим двигателем и аккумулятором. Обратите внимание на номинальный ток ESC, измеряемый в
                    амперах (A), который должен соответствовать току, потребляемому вашим двигателем, или немного
                    превышать
                    его. ESC также может поставляться с дополнительными функциями, такими как схема отключения заряда
                    батареи (BEC), которая может питать ваши сервоприводы и приемник, устраняя необходимость в
                    дополнительной батарее.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Контроллер полета / Стабилизатор</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Flite Test Aura 5 Lite обеспечивает повышенную устойчивость и управляемость для всех типов самолетов
                    с
                    неподвижным крылом.

                    Основные преимущества включают в себя:
                    ПЛАВНЫЙ ПОЛЕТ - В ветреный день или при далеко не идеальной погоде стабилизация помогает реагировать
                    на
                    усилия на поверхностях управления, которые не вводятся пилотом. Это даст вам больше контроля и
                    полномочий над своим самолетом.

                    ЧЕТКИЕ РЕАКЦИИ - Aura разработан для повышения опыта пилота, не мешая ему управлять самолетом. Ваш
                    самолет будет летать так, как если бы он был больше и при меньшем ветре, даже если он настолько
                    маневренный, насколько вы хотите.
                    <h4>

                </div>
            </h3>
            </p>
            <p>





<style>
    .black-rectangle {
      width: 100px;
      height: 50px;
      background-color: black;
    }
</style>


<style>
    .black-box {
        background-color: black;
        color: white;
        padding: 30px;
        border-radius: px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 5000);
    }
</style>

<div class="black-box">
    <div class="invisible-column">


        <style>
            ul.hr { margin: 0; /* Обнуляем значение отступов */
             padding: 10px; /* Значение полей */ } ul.hr li { display: inline; /* Отображать как строчный элемент */ margin-right: px; /* Отступ слева */ border: px solid #000; /* Рамка вокруг текста */ padding: px; /* Поля вокруг текста */ }
        </style>

        <ul class="hr">

            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>


        <h3>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://t.me/Kiril1234fw">Contacts</a>
        </h3>


        <h3>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'nob' %}">Electronics</a>
        </h3>

        <h3>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://t.me/Kiril1234fw">SOS +996 558 738 877</a>
        </h3>


        </h3>


    </div>



</body>
</html>