{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<div class="dropdown" data-bs-theme="light">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonLight"
            data-bs-toggle="dropdown" aria-expanded="false">
        Все
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonLight">
        <li><a class="dropdown-item active" href="#">могучии мини</a></li>
        <li><a class="dropdown-item" href="kamikadze.html">коптер</a></li>
        <li><a class="dropdown-item" href="#">начинка</a></li>
        <li><a class="dropdown-item" href="#">пульты</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">орегаме</a></li>
    </ul>
</div>
<h2><a href="{% url 'Home' %}">Home</a></h2></button>
https://cdn11.bigcommerce.com/s-x9hwh7on/images/stencil/400x400/products/2720/9360/Millennium-Flerken-Power-Add-on-9.11.23__59782.1694444103.jpg?c=2
</div>
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">Маленькая тень</div>
<div class="text-center">
    <img src="https://cdn11.bigcommerce.com/s-x9hwh7on/images/stencil/1280x1280/products/2615/8083/CQsD_ZRg__98745.1630695686.jpg?c=2"
         class="rounded"
         alt="https://cdn11.bigcommerce.com/s-x9hwh7on/images/stencil/1280x1280/products/2615/8083/CQsD_ZRg__98745.1630695686.jpg?c=2">
</div>
<div class="w-75 p-3"></div>

<rt>
    <td>
        <a href="Home.html">Начинка</a>
        <p>
        <div class="text-center">
            <img src="https://cdn11.bigcommerce.com/s-x9hwh7on/images/stencil/400x400/products/2720/9360/Millennium-Flerken-Power-Add-on-9.11.23__59782.1694444103.jpg?c=2"
                 class="rounded"
                 alt="https://cdn11.bigcommerce.com/s-x9hwh7on/images/stencil/400x400/products/2720/9360/Millennium-Flerken-Power-Add-on-9.11.23__59782.1694444103.jpg?c=2">
        </div>
        <div class="w-75 p-3"></div>

        <img src="">
        </p>
    </td>
</rt>
</table>
<div class="w-75 p-3"></div>
<table border="1">
    <rt>
        <td>
            <H3><a href="Home.html">fLYSKY i6 + ia10</a></H3>
            <p>
                <img src="https://ae01.alicdn.com/kf/H29e991a024954a44bbdc0253104c9dcfH/FLYSKY-FS-i6X-FS-i6X-10CH-2-4GHz-AFHDS-2A-RC-Transmitter-With-X6B-iA6B-A8S.jpg">
            </p>
        </td>
    </rt>
</table>
<div class="w-75 p-3"></div>
</p>
<div class="it">
    <h2>HI</h2>
</div>

<style>
    body {
        background-color: rgb(13, 13, 24);
    }
</style>


<style>
    .black-box {
        background-color: black;
        color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
</style>

<div class="black-box">

    <h3>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'Corsair' %}">Corsair</a>
    </h3>
    <h3>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'Spitfair' %}">Spitfair</a>
    </h3>
    <h3>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'fw' %}">fw-190 A</a>
    </h3>
    <h3>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'me' %}">me-262</a>
    </h3>


</div>


</body>
</html>