<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1><a href="name1.html">Home</a></h1>
<table border="1">
    <h3>
        <p>
            <img src="https://cdn11.bigcommerce.com/s-x9hwh7on/images/stencil/1280x1280/products/2615/8083/CQsD_ZRg__98745.1630695686.jpg?c=2">
        </p>
    </h3>
</table>
</body>
</html>