<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1><a href="name1.html">Home</a></h1>
<p>
<h3>Добро пожаловать во второе поколение самолетов, напечатанных на 3D-принтере! Наши самолеты самые легкие на рынке.
    Все наши самолеты были протестированы и при необходимости модифицированы, чтобы быть адаптированными к механическим
    свойствам новых революционных нитей, таких как LW-PLA от Colorfabb. Мы гарантируем вам, что, несмотря на огромное
    снижение веса, наши модели по-прежнему достаточно прочны, чтобы совершать любые фигуры высшего пилотажа (более ±
    10G) или жесткую посадку <button class="favorite styled" type="button">(читать далие)</button></h3>

</p></body>
</html>