<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Home</h1>
<table border="4">
    <h2>
        <p>
            <rt>
                <td width="60"><a href="{% url 'cf' %}">Home</a></td>
                <td width="60"><a href="{% url 'main' %}">Karsar</a></td>
                <td width="60"><a href="{% url 'vp'%}">Spitfair</a></td>
                <td width="60"><a href="{%url 'vf'%}">fw-190</a></td>
                <td width="60"><a href="{% url 'cl'%}">me-262</a></td>
            </rt>
        </p>
    </h2>

</table>
</body>
</html>