<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<table border="5">
    <h2>
        <p>
            <rt>
                <td width="60"><a href="{% url 'Home' %}">Home</a></td>
                <td width="60"><a href="{% url 'Karsar' %}">Karsar</a></td>
                <td width="60"><a href="{% url 'Spitfair'%}">Spitfair</a></td>
                <td width="60"><a href="{% url 'fw-190' %}">fw-190</a></td>
                <td width="60"><a href="{% url 'me'%}">me-262</a></td>
            </rt>
        </p>
    </h2>
</table>
</body>
</html>