<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="https://www.elefun.no/bilder/prod_logo/423.png" height="50px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'kopter' %}">kopter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'nob' %}">beginners</a>


                <li class="nav-item">
                    <a class="nav-link" href="{% url 'kon' %}">confidentiality</a>
                </li>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'register' %}">register</a></li>
                    <li><a class="dropdown-item" href="#">Другое действие</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
                </ul>


            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>


<style>
    body {
    background-color: #ADD8E6 ;
    }
</style>
<!--#1F5863-->
<!--#2FA8FA-->
<!--#ACBCE0-->
<!--#88AAE0-->
<!--#92B4E0-->
<!--#91B0A1-->
<!--#7AC4A0-->
<!--#395C4B-->
<!--#527F8F-->
<!--#396156-->
<!--#00023D-->
<!--#00011F    #ADD8E6     #E0FFFF-->


<div class="w-20 p-3"></div>

<rt>
    <td>
        <H3><a href="Home.html"></a></H3>
        <div class="text-bg-light p-45"></div>
        <div class="invisible-column" contenteditable="true">
            <h4>
                Мы шаг за шагом познакомим вас с захватывающим процессом сборки радиоуправляемого самолета. Благодаря
                четким
                инструкциям и полезным советам вы научитесь искусству конструирования и подготовитесь поднять свое
                творение
                в небо.
        </div>



        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded" >
        <font size="60" style="margin-top:5%;margin-left:25%">
            Welcome to GeeksforGeeks
        </font>
        <font size="240" style="margin-top:5%;margin-left:25%">

        </font></div>
        <div class="text-center">
            <img src="https://beginner.flitetest.com/wp-content/uploads/2023/12/anatomy-of-an-rc-airplane-control-structures.webp" height="80%" width="80%"
                 class="rounded"
                 alt="https://beginner.flitetest.com/wp-content/uploads/2023/12/anatomy-of-an-rc-airplane-control-structures.webp" height="80%" width="80%">
        </div>

        <p>
        <h1>Фюзеляж</h1></p>
        <p>
        <h3>
            <div class="text-bg-light p-45"></div>
            <div class="invisible-column" contenteditable="true">
                Основной корпус самолета, в котором находится все самое важное - электроника, сервоприводы, аккумулятор
                и шасси. Этот компонент может быть изготовлен из любых материалов: пенопласта (наш любимый), пробкового
                дерева или даже литого пластика. Конструкция вашего фюзеляжа оказывает огромное влияние на аэродинамику
                вашего радиоуправляемого самолета.
                <h4>


            </div>


            </p>
            <p>
            <h1>Крылья / Элероны</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Подобно парусам корабля, крылья вашего радиоуправляемого самолета ловят ветер и обеспечивают
                    подъемную
                    силу,
                    позволяя вашему самолету взлетать и оставаться в воздухе. Элероны расположены на задней кромке
                    каждого
                    крыла и
                    выполняют роль рулевых лопастей вашего самолета, помогая ему менять направление. Когда один элерон
                    поднимается,
                    другой опускается, заставляя самолет крениться. Размер и форма крыльев, наряду с отзывчивостью
                    элеронов,
                    сильно
                    влияют на устойчивость и маневренность вашего самолета. Для вашего первого радиоуправляемого
                    самолета
                    вам,
                    возможно, захочется подобрать крылья с небольшим двугранным углом наклона и отзывчивыми элеронами,
                    которые
                    делают повороты плавными и контролируемыми.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Хвост</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true"> Хвост радиоуправляемого самолета, который часто
                    называют "оперением", можно сравнить с рулем корабля. Это важная
                    деталь, которая помогает управлять самолетом и сохранять его устойчивость в небе. Хвостовое оперение
                    состоит из
                    двух основных частей: горизонтального и вертикального стабилизаторов. Вместе они предотвращают
                    раскачивание
                    радиоуправляемого самолета. Увеличенный плоский горизонтальный стабилизатор более щадящий, что
                    делает
                    его
                    идеальным выбором для начинающих.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Шасси</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">Больше, чем просто механизм для безопасного
                    возвращения
                    вашего самолета на землю, правильное шасси играет важную роль в обеспечении плавного взлета с любой
                    местности. Для начинающих простота и долговечность являются ключевыми. Некоторые самолеты для
                    начинающих
                    вообще не имеют шасси и предназначены для посадки на брюхо, что делает их беспроблемными. Итак, при
                    сборке вашего первого радиоуправляемого самолета подумайте, какое шасси соответствует вашему уровню
                    комфорта и месту полета.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Блок питания</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Removable modules that house your motor, propeller, and sometimes your ESC, Power Pods make building
                    and
                    repairs super easy. If your plane takes a nosedive, you can simply swap out the power pod instead of
                    fixing or rebuilding the whole plane. Plus, they're versatile and interchangeable between different
                    plane models, allowing for experimenting between various motor setups without any permanent changes.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Батарейный отсек</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Подобно топливному баку авиалайнера, в батарейном отсеке находится то, что обеспечивает ваши полеты.
                    Хорошо спроектированный, легкодоступный батарейный отсек позволяет быстро заменить или
                    отрегулировать
                    его, чтобы вы могли вернуться в небо как можно скорее. Удобный батарейный отсек, оснащенный
                    специальным
                    люком или ремешком на липучке, гарантирует сохранность аккумулятора во время полета и помогает точно
                    настроить центр тяжести самолета для более плавного управления.
                    <h4>

                </div>
                <font size="8">
                    Электроника
                </font>
                <font size="35">

                </font>
            </h3>
            </p>
            <p>
            <h1>Передатчик</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Передатчик - это ваша прямая связь с радиоуправляемым самолетом, контролирующим каждое его движение
                    с
                    земли. Для начинающих отличным началом станет простой 4-канальный передатчик, позволяющий управлять
                    дроссельной заслонкой, рулем направления, рулем высоты и элеронами. Важно выбрать передатчик,
                    который
                    удобно лежит в ваших руках, с отзывчивыми джойстиками, переключателями и циферблатами, и убедиться,
                    что
                    он совместим с приемником вашего самолета. Выбор простого и совместимого передатчика обеспечит вам
                    плавный и приятный полет.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Приемник</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Приемник принимает сигналы от вашего передатчика и преобразует их в действия. Важно убедиться, что
                    ваш
                    приемник совместим с вашим передатчиком - это означает, что количество каналов на обоих компонентах
                    соответствует друг другу. Учитывайте также дальность действия приемника; для начинающих достаточно
                    стандартного диапазона, но по мере продвижения вы можете изучить расширенные диапазоны.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Сервопривод</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Сервоприводы действуют как мышцы вашего радиоуправляемого самолета, преобразуя команды в движения.
                    При
                    выборе правильного сервопривода необходимо учитывать его размер, вес, крутящий момент и скорость.
                    Стандартные сервоприводы, как правило, хорошо подходят для начинающих пилотов, обеспечивая плавную
                    работу без утяжеления вашего радиоуправляемого самолета. По мере накопления опыта вы можете
                    рассмотреть
                    более быстрые сервоприводы для увеличения скорости.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Аккумулятор + зарядное устройство</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Правильный выбор аккумулятора и зарядного устройства гарантирует, что ваш самолет хорошо заправлен и
                    готов к
                    взлету. Аккумуляторы LiPo (литий-полимерные) обеспечивают оптимальное сочетание веса, мощности и
                    продолжительности полета. Емкость аккумулятора измеряется в миллиампер-часах (мАч) и напряжении,
                    указывается
                    количеством ячеек и определяет, как долго и с какой мощностью работает ваш самолет. Убедитесь, что
                    выбранное
                    вами зарядное устройство имеет такие функции, как защита от перезаряда.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Мотор</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Подобно двигателю автомобиля, двигатель вашего радиоуправляемого самолета движет его вперед.
                    Бесщеточные
                    двигатели работают без трения и износа, как традиционные щеточные двигатели, что делает их более
                    эффективными, долговечными и мощными. Двигатели бывают двух типов: опережающие для стабильных
                    полетов и
                    ускоряющие для скорости. Важно учитывать технические характеристики вашего двигателя - номинальное
                    напряжение (указывает обороты на вольт) и мощность.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Электронный регулятор скорости (ESC)</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    ESC в вашем радиоуправляемом самолете действует подобно дроссельной заслонке и тормозам в
                    автомобиле,
                    регулируя подачу энергии от аккумулятора к двигателю. Вы хотите убедиться, что выбранный вами ESC
                    совместим с вашим двигателем и аккумулятором. Обратите внимание на номинальный ток ESC, измеряемый в
                    амперах (A), который должен соответствовать току, потребляемому вашим двигателем, или немного
                    превышать
                    его. ESC также может поставляться с дополнительными функциями, такими как схема отключения заряда
                    батареи (BEC), которая может питать ваши сервоприводы и приемник, устраняя необходимость в
                    дополнительной батарее.
                    <h4>

                </div>
            </h3>
            </p>
            <p>
            <h1>Контроллер полета / Стабилизатор</h1></p>
            <p>
            <h3>
                <div class="text-bg-light p-45"></div>
                <div class="invisible-column" contenteditable="true">
                    Flite Test Aura 5 Lite обеспечивает повышенную устойчивость и управляемость для всех типов самолетов
                    с
                    неподвижным крылом.

                    Основные преимущества включают в себя:
                    ПЛАВНЫЙ ПОЛЕТ - В ветреный день или при далеко не идеальной погоде стабилизация помогает реагировать
                    на
                    усилия на поверхностях управления, которые не вводятся пилотом. Это даст вам больше контроля и
                    полномочий над своим самолетом.

                    ЧЕТКИЕ РЕАКЦИИ - Aura разработан для повышения опыта пилота, не мешая ему управлять самолетом. Ваш
                    самолет будет летать так, как если бы он был больше и при меньшем ветре, даже если он настолько
                    маневренный, насколько вы хотите.
                    <h4>

                </div>
            </h3>
            </p>


            <p>

                <style>
                    .black-rectangle {
                      width: 100px;
                      height: 50px;
                      background-color: black;
                    }
                </style>


                <style>
                    .black-box {
                        background-color: black;
                        color: white;
                        padding: 30px;
                        border-radius: px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 5000);
                    }
                </style>

            <div class="black-box">
                <div class="invisible-column">


                    <style>
                        ul.hr { margin: 0; /* Обнуляем значение отступов */
                         padding: 10px; /* Значение полей */ } ul.hr li { display: inline; /* Отображать как строчный элемент */ margin-right: px; /* Отступ слева */ border: px solid #000; /* Рамка вокруг текста */ padding: px; /* Поля вокруг текста */ }
                    </style>

                    <ul class="hr">

                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>


                    <h3>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"
                                   href="https://t.me/Kiril1234fw">Contacts</a>
                    </h3>


                    <h3>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'nob' %}">Electronics</a>
                    </h3>

                    <h3>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="https://t.me/Kiril1234fw">+996 558
                                    738 877</a>
                    </h3>


        </h3>


        </div>


</body>
</html>