<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title></head>
<body><h1 class="v">Войти</h1> <!--Это текст-->
<div class="reg">
    <p class="textreg">Регистрация</p></div><!--Это кнопка которая должна перекидывать на страницу регистрации-->
<div class="name">
    <p class="textname">Имя</p></div> <!--это имя пользователя-->
<div class="password">
    <p class="textpassword">Пароль</p></div><!--Это пароль-->
<div class="vhod">
    <p class="textvhod">Войти</p></div><!--Это кнопка войти-->
</body>
</html>